@model IEnumerable<Car>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach(var item in Model)
    {
        <p>@item.Brand @item.Model<br />
        @item.Year</p>
    }
</div>
